// User variables:
$accent: #F61067;
$text: #30233D;
$white: white;
$f-regular: 'MPLUS1p';
$f-medium: 'MPLUS1p-medium';
$f-bold: 'MPLUS1p-bold';
$f-black: 'MPLUS1p-black';
$f-noticia:'Noticia';
$f-noticia-it: 'Noticia-italic'

